.login_form {
  align-content: center;
}

.errormsg {
  color: red;
}

.login_form {
  margin: 5px;
}
.login_form form{
  margin: 40px;
  font-family: sans-serif;
  font-size: 12px;
}
.login_form input {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 5px;
  width: 400px;
  background-color: lightgrey;
}
.login_form .submit_valid {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 5px;
  width: auto;
  background-color: #00c2d6;
  color: white;
}
.login_form .submit_invalid {
  border-radius: 3px;
  border: 1px solid grey;
  padding: 5px;
  width: auto;
  background-color: #00c2d6;
  color: lightgrey;
}
.login_form p {
  margin: 0 0 0 40px;
  font-family: sans-serif;
  font-size: 12px;
  color: #3a9cd6;
  text-decoration: underline;
  cursor: pointer;
}
.login_form label {
  color:silver;
}
.page-header {
  margin-top: 59px;
  color:silver;
  margin-left: 40px;
}
.link {
  color:cornsilk;
}
