<nav>
  <div>
      <div *ngIf="!authService.loggedIn()">
        <ul class="uclass">
          <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#">Home</a> </li>
          <li  [routerLinkActive]="['active']"><a href="#about">About</a> </li>
          <li  [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact</a> </li>
          <li class="Title">Online Music Streaming</li>
          <li style="float:right" [routerLinkActive]="['active']"><a [routerLink]="['/login']">Login</a> </li>
          <li style="float:right"><a [routerLink]="['/register']">Register</a> </li>
        </ul>

      </div>

      <div *ngIf="authService.loggedIn()">
        <ul>
          <li class="Title">Online Music Streaming</li>
          <li style="float:right"><button class="btn btn-info button" (click)="Logout()">Logout</button></li>
          <li style="float:right"> <button  class="btn btn-info button" (click)="Profile_Load()">Profile</button></li>
          <li></li>
        </ul>
      </div>
  </div>
</nav>


