<nav class="navbar navbar-default">
  <div class="container">

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#">Home</a> </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a href="#about">About</a> </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact</a> </li>
        </ul>

      <!--<h3>Online Music Streaming</h3>-->
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a [routerLink]="['/login']">Login</a> </li>
        <li *ngIf="!authService.loggedIn()"><a [routerLink]="['/register']">Register</a> </li>
      </ul>
    </div>
    <div class="title" *ngIf="authService.loggedIn()">
    <h2>Online Music Streaming</h2>

        <button class="btn btn-info button" (click)="Logout()">Logout</button>

    </div>
  </div>
</nav>
