.menuclass{
  text-align: center;
  color: red;
}

.addmusicbox {
  height: 500px;
  background-color: whitesmoke;
  border-radius: 20px;
}
div button {
  margin-top: 10px;
}
.inner2 {
  border: 10px;
}
