<div>
  <h3>Contact Details</h3>
</div>

<md-card class="mdclass" >
  <md-card-content>
    <div class="imagecontent">
      <img md-card-md-image src='2bc32a988fdc495600a8b40761a0f7af--bollywood-posters-josh.jpg' alt="Image Not Yet">
    </div>
    <div class="songdetails">
        <h3>Jayesh Ladumor</h3>
        <p>Email Id : 14bit024@nirmauni.ac.in</p>
        <p>Mobile No : +91 9687755318</p>
    </div>
  </md-card-content>
</md-card>
<br>
<md-card class="mdclass">
  <md-card-content>
    <div class="imagecontent">
      <img md-card-md-image src='2bc32a988fdc495600a8b40761a0f7af--bollywood-posters-josh.jpg' alt="Image Not Yet">
    </div>
    <div class="songdetails">
        <h3>Bhavesh Parmar</h3>
        <p>Email Id : 14bit157@nirmauni.ac.in</p>
        <p>Mobile No : +91 9537995763</p>
    </div>
  </md-card-content>
</md-card>
