
<div ng-app="myApp1">
  <div ng-controller="controller1">
    <img src="" alt="Some Image" height="100" width="100"><br>
    <input type="file" class="btn btn-default" ng-model="file" accept="image/*"><br>
    <button ng-click="clicked()">CLick</button>
    <button ng-click="ChangeProfilePicture()" class="btn btn-default">Change Profile</button>
  </div>
</div>
  <div class="outerdiv">
    Role : {{usertype}}<br>
    Name :{{name}}<br>
    Username : {{username}}<br>
    Email Id :{{email}}<br>
  </div>

